<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="Styles/SignInstyle.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <title>Sign-in</title>
</head>
<body>
  <div class="background1">
    <div class="create-account">
      <p class="signin">Sign in</p>
      <p class="signintext">Email</p>
      <input type="text" class="Email" required>
      <p class="signintext" >Password</p>
      <input type="text" class="Password" required>
      <p class="ifnotsignin">Forgot Password ?</p>
      <button>Login</button>
      <p class="ifnotsignin">don't have account?  <a href="/signup">Create Account</a> </p>
    </div>
  </div>
  <div class="background2">
    <p>hi</p>
  </div>
</body>
</html>